<a href="https://colab.research.google.com/github/JoshuaHaga/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/Covid_19_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Must run cell below to load data ###

In [1]:
!wget 'https://storage.googleapis.com/kaggle-data-sets/555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJFKdL4LC2jU%2B71KL%2BVFwfpv6q907o7MztOCZ44oC444RnrTDiobim5%2FdcBZAJ2GYLKpV3TdavOVMtWxhnWDs1r0BhwLLlWFINNa5eRfpmSn9n5MDSkBwZGq9nmmNMVjJHRv%2FRTfflREET2aTC8hPBFSQQN57Wk6HBvWzSzWrbxv91qZ0RU8EY%2BocXQ7jjshUxJzNr1%2BAqlmSIEB9azuFGzUw0JeJoXzbLjS59PLj3R0k2TMEUb%2Fg%3D%3D'
!unzip '/content/555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJ'

The name is too long, 487 chars total.
Trying to shorten...
New name is 555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJ.
--2020-08-21 01:33:36--  https://storage.googleapis.com/kaggle-data-sets/555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJFKdL4LC2jU%2B71KL%2BVFwfpv6q907o7MztOCZ44oC444RnrTDiobim5%2FdcBZAJ2GYLKpV3TdavOVMtWxhnWDs1r0BhwLLlWFINNa5eRfpmSn9n5MDSkBwZGq9nmmNMVjJHRv%2FRTfflREET2aTC8hPBFSQQN57Wk6HBvWzSzWrbxv91qZ0RU8EY%2BocXQ7jjshUxJzNr1%2BAqlmSIEB9azuFGzUw0JeJoXzbLjS59PLj3R0k2TMEUb%2Fg%3D%3D
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.193.128, 172.217.204.128, 172.217.203.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.193.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5091268 (4.9M) [application/zip]
Saving to: ‘555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJ’

555089%2F1416097%2F 100%[===================>]   4.85M  --.-KB/s    in 0.07s

2020-08-21 01:33:36 (67.2 MB/s) - ‘555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJ’ saved [5091268/5091268]

Archive:  /content/555089%2F1416097%2Fbundle%2Farchive.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1598147753&Signature=IukcSTm6w5zUlHaMV4oEP54bDH7VN6pQZQ5IXC5lPv0iVDEdglpdZ3muSmSpuCc56KZKg4zErk2hCG5BocMkfIwGNamqjqJtdHJ
  inflating: us_counties_covid19_daily.csv
  inflating: us_covid19_daily.csv
  inflating: us_states_covid19_daily.csv

##COVID-19 in USA

#Context
Data is obtained from COVID-19 Tracking project and NYTimes. Sincere thanks to them for making it available to the public.

Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19 - World Health Organization

The number of new cases are increasing day by day around the world. This dataset has information from 50 US states and the District of Columbia at daily level.

The Original Dataset can be found on kaggle by clicking [here](https://www.kaggle.com/sudalairajkumar/covid19-in-usa).

#Index
All datasets, functions, libraries, and variables used throughout the notebook  will be outlined here.

###Libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

###Datasets

In [16]:
### These 3 dataframes come from the kaggle dataset 'COVID-19 in USA'
counties = pd.read_csv('/content/us_counties_covid19_daily.csv')
states   = pd.read_csv('/content/us_states_covid19_daily.csv')
us       = pd.read_csv('/content/us_states_covid19_daily.csv')

###Functions

In [83]:
### Checks for null values. 
def null_check(dataframe):
    val = dataframe.isnull().sum()
    val_sum = val.sum()
    if val_sum == 0:
      print('Zero null values.')
    else:
      print(val)

### Finds null counts, shape, describes and previews data set. 
def explore(dataframe):
  print(null_check(dataframe))
  print('Shape: ', dataframe.shape)
  print(dataframe.describe())
  return dataframe.head()

###Variables

In [ ]:
md_counties    #< - - - - - - - - - - - All Counties in MD

# Data Exploration

### Introduction:
  Here I will. be doing some basic data explorations of the sets listed in the index. I will clean data here and begin to draw conclusions to be processed later. Findings will be collected and expounded upon at the end of this section.

##Counties 
Here I am going to explore the counties data set and see what all I can find. Since I live in MD, I am going to first take a look at the number of positive cases since the start of data collection

In [46]:
### Doing some initial exploration in the counties dataset ###
explore(counties)

date         0
county       0
state        0
fips      4250
cases        0
deaths       0
dtype: int64
Shape:  (427831, 6)
                fips          cases         deaths
count  423581.000000  427831.000000  427831.000000
mean    31028.521591     706.072795      31.361608
std     16213.346592    5023.235684     383.072950
min      1001.000000       0.000000       0.000000
25%     18147.000000      10.000000       0.000000
50%     29167.000000      48.000000       1.000000
75%     46075.000000     234.000000       6.000000
max     78030.000000  233422.000000   23602.000000

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [70]:
md_counties = counties[counties['state']=='Maryland']
md_counties

              date      county     state     fips  cases  deaths
555     2020-03-05  Montgomery  Maryland  24031.0      3       0
615     2020-03-06  Montgomery  Maryland  24031.0      3       0
700     2020-03-07  Montgomery  Maryland  24031.0      3       0
801     2020-03-08     Harford  Maryland  24025.0      1       0
802     2020-03-08  Montgomery  Maryland  24031.0      4       0
...            ...         ...       ...      ...    ...     ...
425824  2020-08-12      Talbot  Maryland  24041.0    404       4
425825  2020-08-12     Unknown  Maryland      NaN      0      14
425826  2020-08-12  Washington  Maryland  24043.0   1041      31
425827  2020-08-12    Wicomico  Maryland  24045.0   1361      45
425828  2020-08-12   Worcester  Maryland  24047.0    705      20

[3670 rows x 6 columns]

In [82]:
### Checking fo null data 
null_check(md_counties)

date        0
county      0
state       0
fips      122
cases       0
deaths      0
dtype: int64

In [47]:
explore(states)

date                           0
state                          0
positive                      15
negative                     156
pending                     7859
hospitalizedCurrently       2618
hospitalizedCumulative      4088
inIcuCurrently              5654
inIcuCumulative             7642
onVentilatorCurrently       6092
onVentilatorCumulative      8503
recovered                   3275
dataQualityGrade            1157
lastUpdateEt                 343
dateModified                 343
checkTimeEt                  343
death                        698
hospitalized                4088
dateChecked                  343
totalTestsViral             5375
positiveTestsViral          7772
negativeTestsViral          7737
positiveCasesViral          3087
deathConfirmed              5780
deathProbable               6885
fips                           0
positiveIncrease               0
negativeIncrease               0
total                          0
totalTestResults               0
totalTestResultsIncrease       0
posNeg                         0
deathIncrease                  0
hospitalizedIncrease           0
hash                           0
commercialScore                0
negativeRegularScore           0
negativeScore                  0
positiveScore                  0
score                          0
grade                       8977
dtype: int64
Shape:  (8977, 41)
               date       positive      negative  ...  positiveScore   score  grade
count  8.977000e+03    8962.000000  8.821000e+03  ...         8977.0  8977.0    0.0
mean   2.020054e+07   33510.819572  3.371813e+05  ...            0.0     0.0    NaN
std    1.543341e+02   69420.963125  7.268153e+05  ...            0.0     0.0    NaN
min    2.020012e+07       0.000000  0.000000e+00  ...            0.0     0.0    NaN
25%    2.020041e+07     803.000000  1.557000e+04  ...            0.0     0.0    NaN
50%    2.020052e+07    7688.000000  9.848100e+04  ...            0.0     0.0    NaN
75%    2.020070e+07   34974.000000  3.487760e+05  ...            0.0     0.0    NaN
max    2.020081e+07  586056.000000  8.717411e+06  ...            0.0     0.0    NaN

[8 rows x 34 columns]

       date state  positive  ...  positiveScore  score  grade
0  20200812    AK    4655.0  ...              0      0    NaN
1  20200812    AL  104786.0  ...              0      0    NaN
2  20200812    AR   51114.0  ...              0      0    NaN
3  20200812    AS       0.0  ...              0      0    NaN
4  20200812    AZ  189443.0  ...              0      0    NaN

[5 rows x 41 columns]

In [48]:
explore(us)

date                           0
state                          0
positive                      15
negative                     156
pending                     7859
hospitalizedCurrently       2618
hospitalizedCumulative      4088
inIcuCurrently              5654
inIcuCumulative             7642
onVentilatorCurrently       6092
onVentilatorCumulative      8503
recovered                   3275
dataQualityGrade            1157
lastUpdateEt                 343
dateModified                 343
checkTimeEt                  343
death                        698
hospitalized                4088
dateChecked                  343
totalTestsViral             5375
positiveTestsViral          7772
negativeTestsViral          7737
positiveCasesViral          3087
deathConfirmed              5780
deathProbable               6885
fips                           0
positiveIncrease               0
negativeIncrease               0
total                          0
totalTestResults               0
totalTestResultsIncrease       0
posNeg                         0
deathIncrease                  0
hospitalizedIncrease           0
hash                           0
commercialScore                0
negativeRegularScore           0
negativeScore                  0
positiveScore                  0
score                          0
grade                       8977
dtype: int64
Shape:  (8977, 41)
               date       positive      negative  ...  positiveScore   score  grade
count  8.977000e+03    8962.000000  8.821000e+03  ...         8977.0  8977.0    0.0
mean   2.020054e+07   33510.819572  3.371813e+05  ...            0.0     0.0    NaN
std    1.543341e+02   69420.963125  7.268153e+05  ...            0.0     0.0    NaN
min    2.020012e+07       0.000000  0.000000e+00  ...            0.0     0.0    NaN
25%    2.020041e+07     803.000000  1.557000e+04  ...            0.0     0.0    NaN
50%    2.020052e+07    7688.000000  9.848100e+04  ...            0.0     0.0    NaN
75%    2.020070e+07   34974.000000  3.487760e+05  ...            0.0     0.0    NaN
max    2.020081e+07  586056.000000  8.717411e+06  ...            0.0     0.0    NaN

[8 rows x 34 columns]

       date state  positive  ...  positiveScore  score  grade
0  20200812    AK    4655.0  ...              0      0    NaN
1  20200812    AL  104786.0  ...              0      0    NaN
2  20200812    AR   51114.0  ...              0      0    NaN
3  20200812    AS       0.0  ...              0      0    NaN
4  20200812    AZ  189443.0  ...              0      0    NaN

[5 rows x 41 columns]